@(quiz: Quiz)

@main(s"Quiz ${quiz.getId}") {
  <a id="exit" href="/" data-balloon="go back" data-balloon-pos="right">
    <i class="icon ion-close"></i>
  </a>

  <div id="timer">
    <i class="icon ion-clock"></i> <span>--:--</span>
  </div>
  @helper.form(action = routes.QuizResultsController.create()) {
    <input type="hidden" value="@quiz.getId" name="quiz-id" />
    @for((q, idx) <- quiz.getQuestions.zipWithIndex) {
      <article class="question @(if(idx == 0) "current")">
        <p>
          @(idx + 1) / @quiz.getQuestions.size &mdash; @Html(q.getText)
        </p>

        <section class="options">
        @for(o <- q.getOptions) {
          <label class="option">
            <input type="radio" name="@q.getId" value="@o.getText" />
            @Html(o.getText)
          </label>
        }
        </section>
      </article>
    }
  }

  <script src="@routes.Assets.versioned("javascripts/quiz.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/timer.js")"></script>
}
