@(quiz: Quiz)

@main(s"Quiz ${quiz.getId}") {
  @helper.form(action = routes.QuizResultsController.create()) {
    <input type="hidden" value="@quiz.getId" name="quiz-id" />
    @for((q, idx) <- quiz.getQuestions.zipWithIndex) {
      <article class="question @(if(idx == 0) "current")">
        <p>
        @Html(q.getText)
        </p>

        <section class="options">
        @for(o <- q.getOptions) {
          <label class="option">
            <input type="radio" name="@q.getId" value="@o.getText" />
            @Html(o.getText)
          </label>
        }
        </section>
      </article>
    }
  }
}
