@(quiz: Quiz)

  @main("Who wants to be a millionaire?") {
    @for((q, idx) <- quiz.questions.zipWithIndex) {
      <article class="question-container @(if(idx == 0) "show" else "")">
        <h1 class="question">
        @Html(q.text)
        </h1>

        <section class="options">
        @for((o, oIdx) <- q.options.zipWithIndex) {
          <div class="option-container">
            <label class="option">
              <input type="radio" name="@idx" value="@oIdx" />
              @((oIdx + 65).toChar): @Html(o)
            </label>
          </div>
        }
        </section>
      </article>
    }
  }
